In [166]:
import altair as alt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data = pd.read_csv('churn.csv')
data0 = data

data.head()
data.count()

age                             36992
gender                          36992
security_no                     36992
region_category                 31564
membership_category             36992
joining_date                    36992
joined_through_referral         36992
referral_id                     36992
preferred_offer_types           36704
medium_of_operation             36992
internet_option                 36992
last_visit_time                 36992
days_since_last_login           36992
avg_time_spent                  36992
avg_transaction_value           36992
avg_frequency_login_days        36992
points_in_wallet                33549
used_special_discount           36992
offer_application_preference    36992
past_complaint                  36992
complaint_status                36992
feedback                        36992
churn_risk_score                36992
dtype: int64

In [167]:
# data.dropna(inplace=True)
data.count()

age                             36992
gender                          36992
security_no                     36992
region_category                 31564
membership_category             36992
joining_date                    36992
joined_through_referral         36992
referral_id                     36992
preferred_offer_types           36704
medium_of_operation             36992
internet_option                 36992
last_visit_time                 36992
days_since_last_login           36992
avg_time_spent                  36992
avg_transaction_value           36992
avg_frequency_login_days        36992
points_in_wallet                33549
used_special_discount           36992
offer_application_preference    36992
past_complaint                  36992
complaint_status                36992
feedback                        36992
churn_risk_score                36992
dtype: int64

In [168]:
#remove negative values
data = data[data['days_since_last_login'] >= 0]
data['days_since_last_login'].sort_values(ascending=True)

31851     1
32057     1
23411     1
32060     1
35559     1
         ..
23645    26
15496    26
4152     26
21055    26
18361    26
Name: days_since_last_login, Length: 34993, dtype: int64

In [169]:
#remove rows with security_no length greater than 7
data = data[data['security_no'].str.len() < 8]
data['security_no'].str.len().sort_values(ascending=True)

0        7
24667    7
24666    7
24665    7
24664    7
        ..
12360    7
12361    7
12362    7
12356    7
36991    7
Name: security_no, Length: 34990, dtype: int64

In [170]:
#remove rows with avg_time_spent less than 0
data=data[data['avg_time_spent'] >= 0]
data.count()

age                             33355
gender                          33355
security_no                     33355
region_category                 28440
membership_category             33355
joining_date                    33355
joined_through_referral         33355
referral_id                     33355
preferred_offer_types           33093
medium_of_operation             33355
internet_option                 33355
last_visit_time                 33355
days_since_last_login           33355
avg_time_spent                  33355
avg_transaction_value           33355
avg_frequency_login_days        33355
points_in_wallet                30223
used_special_discount           33355
offer_application_preference    33355
past_complaint                  33355
complaint_status                33355
feedback                        33355
churn_risk_score                33355
dtype: int64

In [171]:
#remove rows with avg_transaction_value less than 0
data = data[data['avg_frequency_login_days'] != 'Error']
data.count()

age                             30188
gender                          30188
security_no                     30188
region_category                 25757
membership_category             30188
joining_date                    30188
joined_through_referral         30188
referral_id                     30188
preferred_offer_types           29948
medium_of_operation             30188
internet_option                 30188
last_visit_time                 30188
days_since_last_login           30188
avg_time_spent                  30188
avg_transaction_value           30188
avg_frequency_login_days        30188
points_in_wallet                27358
used_special_discount           30188
offer_application_preference    30188
past_complaint                  30188
complaint_status                30188
feedback                        30188
churn_risk_score                30188
dtype: int64

In [172]:
#remove rows with avg_transaction_value less than 0
data = data[data['points_in_wallet'] >= 0]
data.count()

age                             27253
gender                          27253
security_no                     27253
region_category                 23219
membership_category             27253
joining_date                    27253
joined_through_referral         27253
referral_id                     27253
preferred_offer_types           27038
medium_of_operation             27253
internet_option                 27253
last_visit_time                 27253
days_since_last_login           27253
avg_time_spent                  27253
avg_transaction_value           27253
avg_frequency_login_days        27253
points_in_wallet                27253
used_special_discount           27253
offer_application_preference    27253
past_complaint                  27253
complaint_status                27253
feedback                        27253
churn_risk_score                27253
dtype: int64

In [173]:
data = data[data['joined_through_referral'] != '?']

In [174]:
from sklearn.preprocessing import OneHotEncoder

def apply_one_hot_encoding(df, column_name):

    # df.dropna(subset=[column_name], inplace=True)
    # Create a new DataFrame with the specified column
    column_df = df[[column_name]]
    
    # Create an instance of OneHotEncoder
    encoder = OneHotEncoder()
    
    # Fit and transform the column using OneHotEncoder
    encoded_column = encoder.fit_transform(column_df)
    
    # Convert the encoded column to a dense array
    encoded_column_array = encoded_column.toarray()
    
    # Create a new DataFrame with the encoded column
    encoded_df = pd.DataFrame(encoded_column_array, columns=encoder.get_feature_names_out([column_name]))
    
    # Concatenate the original DataFrame and the encoded DataFrame
    encoded_df = pd.concat([df, encoded_df], axis=1)
    
    # Drop the original column from the encoded DataFrame
    encoded_df.drop(column_name, axis=1, inplace=True)
    
    return encoded_df

# data = apply_one_hot_encoding(data, 'joined_through_referral')
# data = apply_one_hot_encoding(data, 'used_special_discount')
# data = apply_one_hot_encoding(data, 'past_complaint')
# data = apply_one_hot_encoding(data, 'complaint_status')
# data = apply_one_hot_encoding(data, 'feedback')
# data = apply_one_hot_encoding(data, 'internet_option')
# data = apply_one_hot_encoding(data, 'membership_category')
# data = apply_one_hot_encoding(data, 'preferred_offer_types')
data.head()

,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,preferred_offer_types,medium_of_operation,...,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score
0,18,F,XW0DQ7H,Village,Platinum Membership,17-08-2017,No,xxxxxxxx,Gift Vouchers/Coupons,?,...,300.63,53005.25,17,781.75,Yes,Yes,No,Not Applicable,Products always in Stock,0
2,44,F,1F2TCL3,Town,No Membership,11-11-2016,Yes,CID12313,Gift Vouchers/Coupons,Desktop,...,516.16,21027.00,22,500.69,No,Yes,Yes,Solved in Follow-up,Poor Website,1
3,37,M,VJGJ33N,City,No Membership,29-10-2016,Yes,CID3793,Gift Vouchers/Coupons,Desktop,...,53.27,25239.56,6,567.66,No,Yes,Yes,Unsolved,Poor Website,1
4,31,F,SVZXCWB,City,No Membership,12-09-2017,No,xxxxxxxx,Credit/Debit Card Offers,Smartphone,...,113.13,24483.66,16,663.06,No,Yes,Yes,Solved,Poor Website,1
5,13,M,PSG1LGF,City,Gold Membership,08-01-2016,No,xxxxxxxx,Gift Vouchers/Coupons,?,...,433.62,13884.77,24,722.27,Yes,No,Yes,Unsolved,No reason specified,0

In [175]:
from sklearn.preprocessing import OrdinalEncoder
memberships = ['No Membership', 'Basic Membership', 'Silver Membership', 'Gold Membership', 'Platinum Membership', 'Premium Membership']
joinded_through_ref = ['No', 'Yes']
used_special_discount = ['No', 'Yes']
past_complaint = ['No', 'Yes']
complaint_stat = ['No Information Available', 'Not Applicable', 'Solved', 'Solved in Follow-up', 'Unsolved']
good_feedbacks = ['Products always in Stock', 'Quality Customer Care', 'Reasonable Price', 'User Friendly Website']
bad_feedbacks = ['Poor Customer Service', 'Poor Product Quality', 'Poor Website', 'Too many ads']
neutral_feedbacks = ['No reason specified']

data['membership_category'] = data['membership_category'].apply(lambda x: memberships.index(x))
data['joined_through_referral'] = data['joined_through_referral'].apply(lambda x: joinded_through_ref.index(x))
data['used_special_discount'] = data['used_special_discount'].apply(lambda x: used_special_discount.index(x))
data['past_complaint'] = data['past_complaint'].apply(lambda x: past_complaint.index(x))
data['complaint_status'] = data['complaint_status'].apply(lambda x: complaint_stat.index(x))
data['feedback'] = data['feedback'].apply(lambda x: 0 if x in good_feedbacks else (2 if x in bad_feedbacks else (1)))


data.head()

,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,preferred_offer_types,medium_of_operation,...,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score
0,18,F,XW0DQ7H,Village,4,17-08-2017,0,xxxxxxxx,Gift Vouchers/Coupons,?,...,300.63,53005.25,17,781.75,1,Yes,0,1,0,0
2,44,F,1F2TCL3,Town,0,11-11-2016,1,CID12313,Gift Vouchers/Coupons,Desktop,...,516.16,21027.00,22,500.69,0,Yes,1,3,2,1
3,37,M,VJGJ33N,City,0,29-10-2016,1,CID3793,Gift Vouchers/Coupons,Desktop,...,53.27,25239.56,6,567.66,0,Yes,1,4,2,1
4,31,F,SVZXCWB,City,0,12-09-2017,0,xxxxxxxx,Credit/Debit Card Offers,Smartphone,...,113.13,24483.66,16,663.06,0,Yes,1,2,2,1
5,13,M,PSG1LGF,City,3,08-01-2016,0,xxxxxxxx,Gift Vouchers/Coupons,?,...,433.62,13884.77,24,722.27,1,No,1,4,1,0

In [176]:
data.to_csv('notsoclean.csv', index=False)
data.head()

,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,preferred_offer_types,medium_of_operation,...,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score
0,18,F,XW0DQ7H,Village,4,17-08-2017,0,xxxxxxxx,Gift Vouchers/Coupons,?,...,300.63,53005.25,17,781.75,1,Yes,0,1,0,0
2,44,F,1F2TCL3,Town,0,11-11-2016,1,CID12313,Gift Vouchers/Coupons,Desktop,...,516.16,21027.00,22,500.69,0,Yes,1,3,2,1
3,37,M,VJGJ33N,City,0,29-10-2016,1,CID3793,Gift Vouchers/Coupons,Desktop,...,53.27,25239.56,6,567.66,0,Yes,1,4,2,1
4,31,F,SVZXCWB,City,0,12-09-2017,0,xxxxxxxx,Credit/Debit Card Offers,Smartphone,...,113.13,24483.66,16,663.06,0,Yes,1,2,2,1
5,13,M,PSG1LGF,City,3,08-01-2016,0,xxxxxxxx,Gift Vouchers/Coupons,?,...,433.62,13884.77,24,722.27,1,No,1,4,1,0